{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.analog",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
