:root {
  color-scheme: light;
  font-family: Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

router-outlet + * {
  display: block;
  width: 100%;
}

analogjs-top-bar {
  display: block;
}

analogjs-top-bar h1 {
  margin: 0;
}
