name: Release Test

on:
  workflow_dispatch:
    inputs:
      angular_build_tag:
        description: 'Angular Build Tag'
        required: true
        default: 'latest'
        type: choice
        options:
          - latest
          - next
      nx_build_tag:
        description: 'Nx Build Tag'
        required: true
        default: 'latest'
        type: choice
        options:
          - latest
          - canary

jobs:
  create-analog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
      - run: corepack enable
      - run: npm --version
      - name: Set Release Tag
        run: |
          TAG="$(${{ github.ref_name == 'main' }} && echo 'latest' || echo '${{ github.ref_name }}')"
      - name: Create Analog Application
        run: npm create analog@$TAG analog-app -- --skipTailwind --analogSFC=false --template latest
      - name: Build, Test, and Validate
        run: |
          cd analog-app
          npm install
          npm run build
          npm run test
          cat ./dist/analog/public/index.html

  create-nx-workspace:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
      - run: corepack enable
      - run: npm --version
      - name: Set Release Tag
        run: |
          TAG="$(${{ github.ref_name == 'main' }} && echo 'latest' || echo '${{ github.ref_name }}')"
      - name: Create Nx Workspace
        run: |
          npx create-nx-workspace@{{ inputs.nx_build_tag }} analog-nx-workspace --preset analog@$TAG --analogAppName my-analog-app --ci skip
      - name: Build, Test, and Validate
        run: |
          cd analog-nx-workspace
          npm install
          npx nx build my-analog-app
          npx nx test my-analog-app
          cat ./dist/apps/my-analog-app/analog/public/index.html

  migrate-angular-app:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v3
      - run: corepack enable
      - run: npm --version
      - name: Set Release Tag
        run: |
          TAG="$(${{ github.ref_name == 'main' }} && echo 'latest' || echo '${{ github.ref_name }}')"
      - name: Create Angular App
        run: |
          npx @angular/cli@{{ inputs.angular_build_tag }} new my-angular-app --style css --no-ssr
      - name: Migrate, Build, Test, and Validate
        run: |
          cd my-angular-app
          npm install @analogjs/platform@$TAG --save-dev
          npx ng g @analogjs/platform:init --project my-angular-app
          npm run build
          npm run test
          cat ./dist/analog/public/index.html
