.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  border-top: var(--ifm-global-border-width) solid var(--global-border-color);
}

.featureSvg {
  height: 200px;
  width: 200px;
}
